// font family
$PrimaryLight: "Assistant-Light";
$PrimaryRegular: "Assistant-Regular";
$PrimarySemi: "Assistant-SemiBold";
$PrimaryBold: "Assistant-Bold";

$SecundaryLight: "Butler-Light";
$SecundaryRegular: "Butler-Light"; //buscar y remplazar
$SecundarySemi: "Butler-Light"; //buscar y remplazar
$SecundaryBold: "Butler-Bold";

$TertiaryRegular: "Raleway-Regular";
$TertiaryMedium: "Raleway-Medium";
$TertiarySemi: "Raleway-SemiBold";
$TertiaryBold: "Raleway-Bold";


$font-family: $PrimaryRegular;
