$map-palette-button:(
  black: (
    background:			$btn-black,
    color:          #cacaca,
    border:         solid 1px $btn-black,
    hover: (
      background-color: lighten($btn-black, 35),
      border: solid 1px lighten($btn-black, 35),
    )
  ),
  white: (
    background: 	  $btn-white,
    color:          #050505,
    border:         solid 1px $btn-black,
    hover: (
      background-color: $black,
      color: $btn-white,
      border: solid 1px $black,
    ),
  ),
  red: (
    background:			$btn-red,
    color:          $btn-white,
    border:         solid 1px $btn-red,
    hover: (
      background-color: lighten($btn-red, 5),
      border: solid 1px lighten($btn-red, 5),
    ),
  ),
  blue: (
    background: 	  $btn-blue,
    color:          $btn-white,
    border:         solid 1px $btn-blue,
    hover: (
      background-color: lighten($btn-blue, 5),
      border: solid 1px lighten($btn-blue, 5),
    ),
  ),
  gray: (
    background: 	  $btn-gray,
    color:          $black,
    border:         solid 1px $btn-gray,
    hover: (
      background-color: darken($btn-gray, 5),
      border: solid 1px darken($btn-gray, 5),
    ),
  ),
  facebook: (
    background: 	  $btn-blue,
    color:          $btn-white,
    border:         solid 2px $btn-blue,
    hover: (
      background-color: lighten($btn-blue, 5),
      border: solid 2px lighten($btn-blue, 5),
    ),
  ),
  gray-lineal: (
    background: 	  transparent,
    color:           #8a8a8a,
    border:         solid 1px #e8e8e8,
    hover: (
      background: 	  transparent,
      color: $black,
      border: solid 1px darken(#e8e8e8, 5),
    ),
  ),
  gray-light: (
    background: 	  #f8f8f8,
    color:           $black,
    border:         solid 1px #f8f8f8,
    hover: (
      background: 	  darken(#f8f8f8, 2),
      color: $black,
      border: solid 1px darken(#f8f8f8, 2),
    ),
  ),
  white-line: (
    background: 	  transparent,
    color:          $btn-white,
    border:         solid 1px $btn-white,
    hover: (
      background-color: $btn-white,
      color: $black,
      border: solid 1px $btn-white,
    ),
  ),
  red-wine: (
    background: 	  #691C16,
    color:          $btn-white,
    border:         solid 1px #691C16,
    hover: (
      background-color: rgba(#691C16, 0.7),
      color: $btn-white,
      border: none,
    ),
  ),
  dark-yellow: (
    background: 	  #bbb6a7,
    color:          $black,
    border:         solid 1px #bbb6a7,
    hover: (
      background-color: rgba(#bbb6a7, 0.7),
      color: $black,
      border: solid 1px #bbb6a7,
    ),
  ),
  dashed: (
    background: 	  transparent,
    color:          lighten($btn-black, 55),
    border:         dashed 1px lighten($btn-black, 55),
    hover: (
      color: $black,
      border: dashed 1px $black,
    ),
  ),
  beige: (
    background: 	  #b2ad9d,
    color:          $black,
    border:         0,
    hover: (
      background: lighten(#b2ad9d, 5),
      border: 0,
    ),
  ),
  beige-lineal: (
    background: 	  transparent,
    color:           #b2ad9d,
    border:         solid 1px #b2ad9d,
    hover: (
      border:         solid 1px #b2ad9d,
    ),
  ),
);


// $palette-button: null !default;
// $new-palette-buttom: null !default;

// @if map-exist($palette-button){
//   $new-palette-buttom: map-merge($map-palette-button, $palette-button);
// } @else {
//   $new-palette-buttom: $map-palette-button;
// }
