// default page color
$white:             #ffffff;
$black:             #000000 !default;
$dark:              #000000;
$green:             #38c550;
$red:               #ee5f5f;
$yellow:            #e5be30;
$gray-light:        #eaecf0;
$anchor-link:       #1a0dab;
$border-color: #ededed;

// text
$title: #000000;
$subtitle: #000000;
$paragraph: #000000;
$ilaria: #1B314D;

// icons
$icon-primary: #000000;
$icon-secondary: #000000;


// extras
$footer-bg: #242E30;

//color Button
$btn-black:  #050505;
$btn-white: #ffffff;
$btn-red: #cb213b;
$btn-blue: #334d90;
$btn-gray: #F1F1F1;



//  PARA REVISAR Y REITAR COLORES


//TOPITOP
$primary:   #494949;
$secondary: #909090;
$gray-sidebar: rgb(220, 220, 220);
$red-lighten: #E40000;
$gray-3: #9B9B9B;
$color-price: #d12525;
$red:               #cb213b;
$red-topitop:       #fd0102;
$red-heart:         #ca011a;
$bg-outfit: #F2F2F2;

//ILARIA
$black: #050505;
$dark-text:  #333333;
$gray-text: #979797;
$ilaria-bg: #f7f9fb;
$ilaria-linea: #d8d8d8;
$ilaria-subrayado: #bdbdbd;
$white: #ffffff;
$ilaria: #1B314D;