<div class="boxapi-form__group">
  {% if label %}
  <label class="">{{ label }}</label>
  {% endif %}
  <div>
      <input name="first_name" placeholder="{{ placeholder }}" required="{{ required }}" type="{{ type }}" value="">
  </div>
</div>