<div class="boxapi-radio-basic">
    <input type="radio" name="basic" class="boxapi-radio-basic__input">
    <div class="boxapi-radio-basic__cont">
        <div class="boxapi-radio-basic__left">
            <div class="boxapi-radio-basic__checked"></div>
        </div>
        <div class="boxapi-radio-basic__right">
            <div class="boxapi-radio-basic__name">
                {{ name }}
            </div>
        </div>
    </div>
</div>