<div class="boxapi-radio-shipping">
    <input type="radio" name="shipping" class="boxapi-radio-shipping__input">
    <div class="boxapi-radio-shipping__cont">
        <div class="boxapi-radio-shipping__left">
            <div class="boxapi-radio-shipping__checked"></div>
        </div>
        <div class="boxapi-radio-shipping__middle">
            <div class="boxapi-radio-shipping__name">
                {{ name }}
            </div>
            <div class="boxapi-radio-shipping__desc">
                {{ desc }}
            </div>
        </div>
        <div class="boxapi-radio-shipping__right">
            <div class="boxapi-radio-shipping__price">
                <div class="boxapi-radio-shipping__price-name">
                    Costo
                </div>
                <div class="boxapi-radio-shipping__price-number">
                    S/ {{ price }}
                </div>
            </div>
        </div>
    </div>
</div>