<div class="boxapi-radio-icon">
    <input type="radio" name="method" class="boxapi-radio-icon__input">
    <div class="boxapi-radio-icon__cont">
        <div class="boxapi-radio-icon__name">
            {{ name }}
        </div>
        <div class="boxapi-radio-icon__icon {{ icon }}"></div>
    </div>
</div>