#{$namespace} {
  &-catalogo {
    display: flex;
    &__filters {
      display: inline;
      width: 242px;
      margin-right: 100px;
    }
    &__right {
      flex: 1;
      &__items {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
        width: 100%;
        grid-column-gap: 40px;
      }
      &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 18px;
        select {
          height: 40px;
          padding: 0 16px;
          border: solid 1px #d5d5d5;
          background-color: #ffffff
        }
        .woocommerce-result-count {
          font-family: MollenPersonalUse;
          font-size: 16px;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.38;
          letter-spacing: normal;
          text-align: center;
          color: #727272;
        }
      }
    }
    &__content {
      display: flex;
    }
    .page-numbers {
      display: flex;
      justify-content: center;
      span, a {
        width: 36px;
        height: 36px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        background-color: rgba(var(--color-primary-bold-rgb), .15);
        &.current {
          background-color: var(--color-primary-bold);
          color: #fff;
        }
        &.next.page-numbers {
          background-color: transparent;
        }
      }
      a {
        color: var(--color-primary);
      }
      li {
        margin-right: 10px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}