.site-main {
  padding: 50px 0;
}
#{$namespace} {
  &-catalogo {
    display: flex;
    padding: 50px 0;
    .button-filter-mobile {
      display: flex;
      align-items: center;
      border: solid 1px #d5d5d5;
      background-color: #ffffff;
      height: 40px;
      justify-content: center;
      padding: 0 20px;
      color: var(--color-primary);
      @media screen and(min-width: 1024px) {
        display: none;
      }
    }
    .woocommerce-ordering {
      display: flex;
      align-items: center;
      margin: 20px 0;
    }
    &__filters {
      display: inline;
      width: 242px;
      @media screen and(max-width: 1023px) {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
        overflow: auto;
        height: 100%;
        box-shadow: #0000005e 0px 0px 30px 5px;
        background: #fff;
        transform: translateX(-100%);
        transition: transform .3s ease-in-out;
        &.active {
          transform: translateX(0);
        }
      }
      @media screen and(min-width: 1024px) {
        margin-right: 100px;
        margin-top: 50px;
      }
    }
    &__right {
      flex: 1;
      &__items {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
        width: 100%;
        grid-row-gap: 40px;
        grid-column-gap: 40px;
        .boxapi-card-item {
          margin: 0;
        }
      }
      &__top {
        display: flex;
        flex-direction: column;
        // align-items: center;
        justify-content: space-between;
        margin-bottom: 18px;
        @media screen and(min-width: 1024px) {
          flex-direction: row;
        }
        select {
          height: 40px;
          padding: 0 16px;
          border: solid 1px #d5d5d5;
          background-color: #ffffff
        }
        .woocommerce-result-count {
          font-family: 'Mollen Personal Use', sans-serif;
          font-size: 16px;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.38;
          letter-spacing: normal;
          // text-align: center;
          color: #727272;
        }
      }
    }
    &__content {
      display: flex;
    }
    .page-numbers {
      display: flex;
      justify-content: center;
      span, a {
        width: 36px;
        height: 36px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        background-color: rgba(var(--color-primary-bold-rgb), .15);
        &.current {
          background-color: var(--color-primary-bold);
          color: #fff;
        }
        &.next.page-numbers {
          background-color: transparent;
        }
      }
      a {
        color: var(--color-primary);
      }
      li {
        margin-right: 10px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
    .widget {
      margin: 15px 0;
    }
    .widget_price_filter {
      padding: 21px;
      border: solid 1px rgba(213, 213, 213, 0.5);
      background-color: #ffffff;
      .price_slider_wrapper {
        margin-top: 20px;
      }
      .widget-title {
        font-family: 'Mollen Personal Use', sans-serif;
        font-size: 16px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.38;
        letter-spacing: normal;
        text-align: left;
        color: #323232;
      }
      .ui-slider-horizontal {
        height: 4px;
      }
      .ui-slider .ui-slider-handle {
         border-radius: 50%;
        background: #e84976;
      }
      .ui-slider .ui-slider-range {
        background: #e84976;
      }
    }
    .yith-woocommerce-ajax-product-filter {
      padding: 21px;
      border: solid 1px rgba(213, 213, 213, 0.5);
      background-color: #ffffff;
      .widget-title {
        font-family: 'Mollen Personal Use', sans-serif;
        font-size: 16px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.38;
        letter-spacing: normal;
        text-align: left;
        color: #323232;
      }
      ul {
        li {
          padding: 10px;
          a {
            font-family: 'Mollen Personal Use', sans-serif;
            font-size: 16px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.38;
            letter-spacing: normal;
            text-align: left;
            color: #323232;
          }
          &.chosen {
            background-color: rgba($color: #e84976, $alpha: 0.2);
            a {
              color: #e84976;
            }
          }
        }
      }
    }
    .woocommerce-notices-wrapper {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
    }
  }
}