#{$namespace} {
  &-home-site{
    width: 100%;
    &__banner {
      width: 100%;
      height: 100vh;
      img {
        width: 100%;
        height: 100vh;
        background-attachment: contain; 
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        top: 0px;
        // z-index: -10;
      }
      &__boxText {
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        margin: auto;
        text-align: center;
        line-height: 1.5;
      }
    }
    &__boxText {
      color: red
    }
  }
}
