{% extends '../layouts/base.twig' %}

{% block styles %}
    <style>
    </style>
{% endblock %}

{% block title %}Checkout{% endblock %}

{% block content %}
    <div class="boxapi-checkout">

        <div class="boxapi-checkout__wrapper">
            <div class="boxapi-checkout__title">Completa tu compra</div>
            <div class="boxapi-checkout__content">
                <div class="boxapi-checkout__left">
                    <button href="#" class="boxapi-btn boxapi-btn-primary">dsasd</button>
                </div>
                <div class="boxapi-checkout__right">

                </div>
            </div>
        </div>

    </div>
{% endblock %}
{% block scripts %}
    <script> 
    </script>
{% endblock %}