{% extends '../layouts/base.twig' %}

{% block styles %}
    <style>
    </style>
{% endblock %}

{% block title %}Detail brand{% endblock %}

{% block content %}
    <div class="boxapi-detail-brand">
        <div class="container-fluid">
            <div class="boxapi-detail-brand__banner">
                
            </div>
        </div>
        <div class="container">
            <div class="boxapi-detail-brand__info">
            </div>
            <div class="boxapi-detail-brand__content">
                <div class="boxapi-detail-brand__left">sddfwd</div>
                <div class="boxapi-detail-brand__right"></div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script> 
    </script>
{% endblock %}