{% extends '../layouts/base.twig' %}

{% block styles %}
    <style>
    </style>
{% endblock %}

{% block title %}Detail brand{% endblock %}

{% block content %}
    <div class="boxapi-detail-brand">

        <div class="container">
            
                <!--=========================== INICIO CATEGORIAS ===========================-->
            <div class="boxapi-detail-brand__categori">
                <div class="boxapi-detail-brand__categori-title">
                    Bebés
                </div>
                    <div class="boxapi-detail-brand__row-circle">
                        <div class="boxapi-detail-brand__item-cirlce">
                            <img src="/assets/img/samsung-memory-TRD0wNN0wI4-unsplash.png" alt="">
                            <div class="boxapi-detail-brand__text-item">
                                Ropa
                            </div>
                        </div>
                        <div class="boxapi-detail-brand__item-cirlce">
                            <img src="/assets/img/samsung-memory-TRD0wNN0wI4-unsplash.png" alt="">
                            <div class="boxapi-detail-brand__text-item">
                                Accesorio
                            </div>
                        </div>
                        <div class="boxapi-detail-brand__item-cirlce">
                            <img src="/assets/img/samsung-memory-TRD0wNN0wI4-unsplash.png" alt="">
                            <div class="boxapi-detail-brand__text-item">
                                Deco dormitorio
                            </div>
                        </div>
                        <div class="boxapi-detail-brand__item-cirlce">
                            <img src="/assets/img/samsung-memory-TRD0wNN0wI4-unsplash.png" alt="">
                            <div class="boxapi-detail-brand__text-item">
                                Lactancia y alimentación
                            </div>
                        </div>
                        <div class="boxapi-detail-brand__item-cirlce">
                            <img src="/assets/img/samsung-memory-TRD0wNN0wI4-unsplash.png" alt="">
                            <div class="boxapi-detail-brand__text-item">
                                Estimulación
                            </div>
                        </div>
                        <div class="boxapi-detail-brand__item-cirlce">
                            <img src="/assets/img/samsung-memory-TRD0wNN0wI4-unsplash.png" alt="">
                            <div class="boxapi-detail-brand__text-item">
                                Monitores y seguridad
                            </div>
                        </div>
                        <div class="boxapi-detail-brand__item-cirlce">
                            <img src="/assets/img/samsung-memory-TRD0wNN0wI4-unsplash.png" alt="">
                            <div class="boxapi-detail-brand__text-item">
                                Higiene y salud
                            </div>
                        </div>

                    </div>
            </div>
            <!--=========================== FIN CATEGORIAS ===========================-->

            <!--=========================== INICIO ARTICULOS ===========================-->
            
            <div class="boxapi-detail-brand__content">
                <div class="boxapi-detail-brand__left">
                    <div class="boxapi-detail-brand__dropdown">
                        <button class="boxapi-detail-brand__dropdown-btn">PROMOCIONES
                          <span class="boxapi-detail-brand__arrow-down"><img src="/assets/img/next.svg" alt=""></span>
                        </button>
                        <div class="boxapi-detail-brand__dropdown-container">
                          <a href="#">Link 1</a>
                          <a href="#">Link 2</a>
                          <a href="#">Link 3</a>
                        </div>
                      </div>
                      <div class="boxapi-detail-brand__sidenav">
                        <div class="boxapi-detail-brand__sidenav-btn">CATEGORIAS
                            <span class="boxapi-detail-brand__arrow-down"><img src="/assets/img/next.svg" alt=""></span>
                        </div>
                        <a href="#">Fashion collection   <span class="boxapi-detail-brand__arrow-down"><img src="/assets/img/arrow-pointing-to-right.svg" alt=""></span></a>
                        <a href="#">Jackets collection <span class="boxapi-detail-brand__arrow-down"><img src="/assets/img/arrow-pointing-to-right.svg" alt=""></span></a>
                        <a href="#">Men's collection  <span class="boxapi-detail-brand__arrow-down"><img src="/assets/img/arrow-pointing-to-right.svg" alt=""></span></a>
                        <a href="#">Kid's & Baby  <span class="boxapi-detail-brand__arrow-down"><img src="/assets/img/arrow-pointing-to-right.svg" alt=""></span></a>
                      </div>
                      <div class="boxapi-detail-brand__sidenav">
                        <div class="boxapi-detail-brand__sidenav-btn">MARCAS
                            <span class="boxapi-detail-brand__arrow-down"><img src="/assets/img/next.svg" alt=""></span>
                        </div>
                        <a href="#">Fashion collection   </a>
                        <a href="#">Jackets collection </a>
                        <a href="#">Men's collection  </a>
                        <a href="#">Kid's & Baby </a>
                      </div>
                      <div class="boxapi-detail-brand__dropdown">
                        <button class="boxapi-detail-brand__dropdown-btn">SUBCATEGORIAS
                          <span class="boxapi-detail-brand__arrow-down"><img src="/assets/img/next.svg" alt=""></span>
                        </button>
                        <div class="boxapi-detail-brand__dropdown-container">
                          <a href="#">Link 1</a>
                          <a href="#">Link 2</a>
                          <a href="#">Link 3</a>
                        </div>
                      </div>
                      <div class="boxapi-detail-brand__dropdown">
                        <button class="boxapi-detail-brand__dropdown-btn">TALLAS
                          <span class="boxapi-detail-brand__arrow-down"><img src="/assets/img/next.svg" alt=""></span>
                        </button>
                        <div class="boxapi-detail-brand__dropdown-container">
                          <a href="#">Link 1</a>
                          <a href="#">Link 2</a>
                          <a href="#">Link 3</a>
                        </div>
                      </div>
                      <div class="boxapi-detail-brand__sidenav-precio">
                        <div class="boxapi-detail-brand__sidenav-btn">PRECIO
                            <span class="boxapi-detail-brand__arrow-down"><img src="/assets/img/next.svg" alt=""></span>
                        </div>
                        <div class="boxapi-detail-brand__price-range">
                            <span>S/ 60</span>
                            <span class="boxapi-detail-brand__price-text">hasta</span>
                            <span>S/ 200</span>
                            
                        </div>
                        
                      </div>
                </div>
                <div class="boxapi-detail-brand__right">
                    <div class="boxapi-detail-brand__row-resultado">
                        <div class="boxapi-detail-brand__resultado-text">
                            200 resultados
                        </div>
                        <button class="boxapi-detail-brand__precio-btn">Desde mayor precio
                            <span class="boxapi-detail-brand__arrow-down"><img src="/assets/img/next.svg" alt=""></span>
                        </button>
                    </div>
                    <div class="boxapi-detail-brand__row-resultado">
                        {% include '../components/card-item.twig' %}
                        {% include '../components/card-item.twig' %}
                        {% include '../components/card-item.twig' %}
                    </div>
                    <div class="boxapi-detail-brand__row-resultado">
                        {% include '../components/card-item.twig' %}
                        {% include '../components/card-item.twig' %}
                        {% include '../components/card-item.twig' %}
                    </div>
                    <div class="boxapi-detail-brand__row-resultado">
                        {% include '../components/card-item.twig' %}
                        {% include '../components/card-item.twig' %}
                        {% include '../components/card-item.twig' %}
                    </div>
                    <div class="boxapi-detail-brand__row-resultado">
                        {% include '../components/card-item.twig' %}
                        {% include '../components/card-item.twig' %}
                        {% include '../components/card-item.twig' %}
                    </div>
                </div>
            </div>
             <!--=========================== FIN ARTICULOS ===========================-->

             <!--=========================== INICIO PAGINACION ===========================-->
            <div class="boxapi-detail-brand__paginacion">
                <div class="boxapi-detail-brand__row-paginacion">
                    <button class="boxapi-detail-brand__precio-btn">Sort by date
                        <span class="boxapi-detail-brand__arrow-down"><img src="/assets/img/next.svg" alt=""></span>
                    </button>

                    <span class="boxapi-detail-brand__number">1</span>
                    <span>2</span>
                    <span>3</span>

                    <button class="boxapi-detail-brand__precio-btn">Show 
                        <span>12</span>
                        <span class="boxapi-detail-brand__arrow-down"><img src="/assets/img/next.svg" alt=""></span>
                    </button>
                </div>
            </div>
            <!--=========================== FIN PAGINACION ===========================-->
            
        </div><!-- Fin Container -->
        
            <!--=========================== INICIO SUSCRIPCION ===========================-->
            <div class="boxapi-detail-brand__suscripcion">
                <div class="container-fluid">
                    <div class="boxapi-detail-brand__row-suscripcion">
                        <div class="boxapi-detail-brand__suscripcion-left">
                            <div class="boxapi-detail-brand__suscripcion-title">
                                Suscribete para recibir novedades
                            </div>
                            <div class="boxapi-detail-brand__suscripcion-text">
                                Obten la ultima información en eventos, promociones y descuentos en nuestra tienda
                            </div>
                            <div class="boxapi-form">
                                <div class="boxapi-detail-brand__row-form">
                                    <input class="boxapi-detail-brand__input" type="text" placeholder="Tu correo electrónico">
                                    <button class="boxapi-btn boxapi-btn-primary">Enviar</button>
                                </div>
                            </div>
                        </div>
                        <div class="boxapi-detail-brand__suscripcion-right">
                            <div class="boxapi-home-site__suscripcion-title">
                                Hashtags populares
                            </div>
                            <div class="boxapi-detail-brand__row-hash">
                                <button class="boxapi-btn boxapi-btn-secondary">Fashion</button>
                                <button class="boxapi-btn boxapi-btn-secondary">Home office</button>
                                <button class="boxapi-btn boxapi-btn-secondary">Babies boy</button>
                                <button class="boxapi-btn boxapi-btn-secondary">Tech</button>
                            </div>
                            <div class="boxapi-detail-brand__row-hash">
                                <button class="boxapi-btn boxapi-btn-secondary">Tech</button>
                                <button class="boxapi-btn boxapi-btn-primary">Electronicos</button>
                                <button class="boxapi-btn boxapi-btn-secondary">Laptops</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
             <!--=========================== FIN SUSCRIPCION ===========================-->
        
    </div>
{% endblock %}
{% block scripts %}
    <script>
        var dropdown = document.getElementsByClassName("dropdown-btn");
        var i;

        for (i = 0; i < dropdown.length; i++) {
        dropdown[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var dropdownContent = this.nextElementSibling;
            if (dropdownContent.style.display === "block") {
            dropdownContent.style.display = "none";
            } else {
            dropdownContent.style.display = "block";
            }
        });
        }
    </script>
{% endblock %}