{% extends '../layouts/base.twig' %}

{% block styles %}
    <style>
        .sds{
            background: red;
        }

    </style>
{% endblock %}

{% block title %}prueba{% endblock %}

{% block content %}
    <div class="prueba">
        <h1>prueba index</h1>
    </div>
{% endblock %}
{% block scripts %}
    <script> 
        console.log("prueba")
    </script>
{% endblock %}