<footer class="boxapi-footer">
  <div class="container">
    <div class="boxapi-footer__content">
      <div class="boxapi-footer__item boxapi-footer__item-start">
        <div class="boxapi-footer__logo">
          <img src="/assets/img/boxapi.png" alt="">
        </div>
        <div class="boxapi-footer__copy">
          ©2020 Todos los derechos reservados. <strong>Agency</strong>
        </div>
      </div>
      <div class="boxapi-footer__item">
        <div class="boxapi-footer__title">
          Acerca de Market
        </div>
        <div class="boxapi-footer__list">
          <a href="">La empresa</a>
          <a href="">Contáctanos</a>
        </div>
      </div>

      <div class="boxapi-footer__item">
        <div class="boxapi-footer__title">
          Atención al cliente
        </div>
        <div class="boxapi-footer__list">
          <a href="">Preguntas frecuentes</a>
          <a href="">Terminos y condiciones</a>
          <a href="">Politica de privacidad</a>
          <a href="">Método y política de envios</a>
          <a href="">Libro de Reclamaciones</a>
        </div>
      </div>

      <div class="boxapi-footer__item">
        <div class="boxapi-footer__title">
          Mi cuenta
        </div>
        <div class="boxapi-footer__list">
          <a href="">Iniciar sesión</a>
          <a href="">Registrate</a>
          <a href="">Olvidé mi contraseña</a>
        </div>
      </div>

      <div class="boxapi-footer__item boxapi-footer__item-end">
        <div class="boxapi-footer__phone">
          <a href="tel:(+51) 123 456789">(+51) 123 456789</a>
        </div>
        <div class="boxapi-footer__social">
          <div class="boxapi-footer__social__title">
            Siguenos
          </div>
          <div class="boxapi-footer__social__list">
            <div class="boxapi-footer__social__item">
              <span class="icon-plus"></span>
            </div>

            <div class="boxapi-footer__social__item">
              <span class="icon-plus"></span>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>
</footer>