<header class="boxapi-header">
  <div class="container">
    <div class="boxapi-header__content">
      <div class="boxapi-header__left">
        <div class="boxapi-header__logo">
          <img src="/assets/img/boxapi.png" alt="">
        </div>
        <div class="boxapi-header__menu">
          <span class="icon-menu"></span>
        </div>
        <div class="boxapi-header__search">
          <span class="icon-search"></span>
          <input type="text" placeholder="Busca un artículo">
        </div>
      </div>
      <div class="boxapi-header__right">
        <div class="boxapi-header__profile">
          <span class="icon-user"></span>
        </div>
        <div class="boxapi-header__wishlist">
          <div class="boxapi-header__wishlist__num">2</div>
          <span class="icon-heart"></span>
        </div>
        <div class="boxapi-header__cart">
          <div class="boxapi-header__cart__icon">
            <div class="boxapi-header__cart__num">2</div>
            <span class="icon-cart"></span>
          </div>
          <div class="boxapi-header__cart__text">S/ 250.00</div>
        </div>
  
      </div>
    </div>
  </div>
</header>