#{$namespace} {
  &-resume {
    &__title {
      // font-family: MollenPersonalUse;
      font-size: 18px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 3;
      letter-spacing: normal;
      text-align: left;
      color: #323232;
    }
    
  }
}