#{$namespace} {
    &-producto-item{
        display: flex;
        justify-content: space-around;
        margin: 10px;
        background-color: #fff;
        box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.12);
        border-radius: 12px;
        &__left {
            position: relative;
            @media screen and(max-width: 768px){
                width: 130px;
                height: auto;
                
            }
            img {
                width: 950px;
                object-fit: contain;
                object-position: center;
                @media screen and(max-width: 768px){
                    width: 550px;
                    height: 230px;
                    object-fit: cover ;
                    object-position: center;
                }
            }
            
        }
        &__offer {
            position: absolute;
            top: 16px;
            right: 24px;
            background-color: var(--color-primary-bold);
            color: $white;
            padding: 5px 12px;
            border-radius: 12px;
            font-family: Roboto;
            font-size: 14px;
            font-weight: 500;
            @media screen and(max-width: 768px){
                top: 14px;
                right: 18px;
                padding: 5px 10px;
                font-size: 12px;
            }
        }
        &__right {
            padding: 20px;
            img {
                width: 40%;
                @media screen and(max-width: 768px){
                    display: none;
                }
            }
        }
        &__title {
            font-family: 'MollenPersonalUse', Arial, Helvetica, sans-serif;
            font-size: 20px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.4;
            letter-spacing: normal;
            color: #323232;
            @media screen and(max-width: 768px){
                font-size: 16px;
            }
        }
        &__price {
            display: flex;
            padding: 5px;
        }
        &__price-ofert {
            font-family: 'MollenPersonalUse', Arial, Helvetica, sans-serif;
            font-size: 24px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 1;
            letter-spacing: normal;
            color: #c90035;
            margin: 0 10px;
            @media screen and(max-width: 768px){
                font-size: 16px;
                font-weight: bold;
                font-stretch: normal;
                font-style: normal;
                line-height: 1;
                letter-spacing: normal;
            }
        }
        &__price-rebaja {
            margin: 0px 35px;
            opacity: 0.49;
            font-family: 'MollenPersonalUse', Arial, Helvetica, sans-serif;
            font-size: 15px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.6;
            letter-spacing: normal;
            color: #323232;
            @media screen and(max-width: 768px){
                font-size: 12px;
            }
        }
        &__description {
            margin: 10px 5px ;
            font-family: 'MollenPersonalUse', Arial, Helvetica, sans-serif;
            font-size: 14px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.5;
            letter-spacing: normal;
            color: #323232;
            @media screen and(max-width: 768px){
                display: none;
            }
        }
        &__box-disponible {
            display: flex;
            justify-content: space-between;
            padding: 10px;
            font-family: 'MollenPersonalUse', Arial, Helvetica, sans-serif;
        }
        &__text-disponible {
            font-size: 14px;
            font-family: 'MollenPersonalUse', Arial, Helvetica, sans-serif;
            span {
                margin: 0px 10px;
                font-family: 'MollenPersonalUse', Arial, Helvetica, sans-serif;
                font-size: 15px;
                font-weight: bold;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.5;
                letter-spacing: normal;
                text-align: left;
                color: #e84976;
            }
        }
        &__text-vendido {
            font-size: 14px;
            font-family: 'MollenPersonalUse', Arial, Helvetica, sans-serif;
            span {
                margin: 0px 10px;
                font-family: 'MollenPersonalUse', Arial, Helvetica, sans-serif;
                font-size: 15px;
                font-weight: bold;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.5;
                letter-spacing: normal;
                text-align: left;
                color: #e84976;
            }
            @media screen and(max-width: 768px){
                display: none;
            }
        }
        &__skillbar {
            position: relative;
            display: block;
            margin-bottom: 10px;
            width: 100%;
            background: rgba(193,193,193,0.7);
            height: 10px;
            border-radius: 3px;
            transition: 0.4s linear;
            transition-property: width, background-color;
            @media screen and(max-width: 768px){
                display: none;
            }
        }
        &__skillBarra {
            height: 10px;
            width: 70%;
            background: #e84976;
            border-radius: 12px;
        }
        &__contador {
            padding: 10px;
        }
        &__contador-text {
            font-family: 'MollenPersonalUse', Arial, Helvetica, sans-serif;
            font-size: 12px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 2;
            letter-spacing: normal;
            text-align: left;
            color: #323232;
            margin-bottom: 10px;
        }
        &__contador-clock {
            display: flex;
            justify-content: space-evenly;
            vertical-align: center;
            span {
                font-size: 22px;
                font-weight: bold;
            }
        }
        &__contador-number {
            font-family: 'MollenPersonalUse', Arial, Helvetica, sans-serif;
            width: 40px;
            height: 30px;
            font-size: 20px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 0.5;
            letter-spacing: normal;
            text-align: left;
            color: #323232;
            padding: 10px;
            background-color: rgba(213, 213, 213, 0.4);
        }
    }
}