@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?71747');
  src:  url('fonts/icomoon.eot?71747#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?71747') format('truetype'),
    url('fonts/icomoon.woff?71747') format('woff'),
    url('fonts/icomoon.svg?71747#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-alert:before {
  content: "\e902";
}
.icon-arrow-down1:before {
  content: "\e909";
}
.icon-cart1:before {
  content: "\e922";
}
.icon-facebook-color:before {
  content: "\e923";
  color: #1976d2;
}
.icon-filter1:before {
  content: "\e924";
}
.icon-google-color1 .path1:before {
  content: "\e925";
  color: rgb(22, 126, 230);
}
.icon-google-color1 .path2:before {
  content: "\e926";
  margin-left: -1em;
  color: rgb(18, 179, 71);
}
.icon-google-color1 .path3:before {
  content: "\e927";
  margin-left: -1em;
  color: rgb(15, 153, 62);
}
.icon-google-color1 .path4:before {
  content: "\e928";
  margin-left: -1em;
  color: rgb(255, 213, 0);
}
.icon-google-color1 .path5:before {
  content: "\e929";
  margin-left: -1em;
  color: rgb(255, 75, 38);
}
.icon-google-color1 .path6:before {
  content: "\e92a";
  margin-left: -1em;
  color: rgb(217, 63, 33);
}
.icon-Grupo-678:before {
  content: "\e92b";
}
.icon-Grupo-682:before {
  content: "\e92c";
}
.icon-heart:before {
  content: "\e92d";
}
.icon-mail:before {
  content: "\e92e";
}
.icon-menu1:before {
  content: "\e92f";
}
.icon-mouse1:before {
  content: "\e930";
}
.icon-notification:before {
  content: "\e931";
}
.icon-plus1:before {
  content: "\e932";
}
.icon-question1:before {
  content: "\e933";
}
.icon-secure:before {
  content: "\e934";
}
.icon-tlf:before {
  content: "\e935";
}
.icon-trash1:before {
  content: "\e936";
}
.icon-user1:before {
  content: "\e937";
}
.icon-user:before {
  content: "\e900";
}
.icon-close:before {
  content: "\e901";
}
.icon-facebook-ncolor:before {
  content: "\e903";
}
.icon-instagram:before {
  content: "\e904";
}
.icon-arrow-right:before {
  content: "\e905";
}
.icon-arrow-down:before {
  content: "\e906";
}
.icon-arrow-left:before {
  content: "\e907";
}
.icon-arrow-top:before {
  content: "\e908";
}
.icon-google-color .path1:before {
  content: "\e90a";
  color: rgb(22, 126, 230);
}
.icon-google-color .path2:before {
  content: "\e90b";
  margin-left: -1em;
  color: rgb(18, 179, 71);
}
.icon-google-color .path3:before {
  content: "\e90c";
  margin-left: -1em;
  color: rgb(15, 153, 62);
}
.icon-google-color .path4:before {
  content: "\e90d";
  margin-left: -1em;
  color: rgb(255, 213, 0);
}
.icon-google-color .path5:before {
  content: "\e90e";
  margin-left: -1em;
  color: rgb(255, 75, 38);
}
.icon-google-color .path6:before {
  content: "\e90f";
  margin-left: -1em;
  color: rgb(217, 63, 33);
}
.icon-security:before {
  content: "\e910";
}
.icon-check-circled .path1:before {
  content: "\e911";
  color: rgb(50, 50, 50);
}
.icon-check-circled .path2:before {
  content: "\e912";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-heart-filled:before {
  content: "\e913";
}
.icon-question:before {
  content: "\e914";
}
.icon-minus:before {
  content: "\e915";
}
.icon-mouse:before {
  content: "\e916";
}
.icon-shop:before {
  content: "\e917";
}
.icon-plus:before {
  content: "\e918";
}
.icon-search:before {
  content: "\e919";
}
.icon-cart:before {
  content: "\e91a";
}
.icon-share:before {
  content: "\e91b";
}
.icon-star:before {
  content: "\e91c";
}
.icon-trash:before {
  content: "\e91d";
}
.icon-check:before {
  content: "\e91e";
}
.icon-menu:before {
  content: "\e91f";
}
.icon-arrow-nright:before {
  content: "\e920";
}
.icon-filter:before {
  content: "\e921";
}
