<div class="boxapi-card-item">
  <div class="boxapi-card-item__top">
    <img src="https://cdn.zeplin.io/5f1dc79aa76998375b089e9b/assets/548d0891-3458-474b-a515-fcd8191e6dea.svg" alt="">
    <div class="boxapi-card-item__offer">-20%</div>
    <div class="boxapi-card-item__wishlist">
      <span class="icon-heart"></span>
    </div>
  </div>
  <div class="boxapi-card-item__bottom">
    <div class="boxapi-card-item__title">
      12 Inch Latex Balloons (Premium Helium Quality)
    </div>
    <div class="boxapi-card-item__raiting">12313</div>
    <div class="boxapi-card-item__two">
      <div class="boxapi-card-item__price">S/ 60</div>
      <div class="boxapi-card-item__action">Añadir al carrito</div>
    </div>
  </div>
</div>