<div class="boxapi-item-secondary">
  <div class="boxapi-item-secondary__content">
    <div class="boxapi-item-secondary__left">
      <div class="boxapi-item-secondary__img">
        <img src="https://cdn.zeplin.io/5f1dc79aa76998375b089e9b/assets/8754a62a-7817-4ecd-a5c1-9800433918d8.svg" alt="">
      </div>
      <div class="boxapi-item-secondary__info">
        <div class="boxapi-item-secondary__title">
          TOM TAILOR DENIM
        </div>
        <div class="boxapi-item-secondary__sku">
          SKU: 465420044684
        </div>
      </div>
    </div>
    <div class="boxapi-item-secondary__right">
      <div class="boxapi-item-secondary__mobile__info">
        <div class="boxapi-item-secondary__info">
          <div class="boxapi-item-secondary__title">
            TOM TAILOR DENIM
          </div>
          <div class="boxapi-item-secondary__sku">
            SKU: 465420044684
          </div>
        </div>
      </div>
      <div class="boxapi-item-secondary__price">S/. 259.90</div>
      <div class="boxapi-item-secondary__actions">
        <div class="boxapi-item-secondary__add">
          <span class="icon-cart"></span>
          Añadir
        </div>
        <div class="boxapi-item-secondary__remove">
          <span class="icon-trash"></span>
        </div>
      </div>
    </div>
  </div>
</div>