<div class="container-megamenu">
    <div class="container-megamenu__title">Categorías</div>
    <div class="container-megamenu__body">
        <div class="container-megamenu__list">
            <a href="#" class="container-megamenu__list__link">
                Aficiones<div class="icon">right</div>
            </a>
            <a href="#" class="container-megamenu__list__link">
                Personalidad<div class="icon">right</div>
            </a>
            <a href="#" class="container-megamenu__list__link">
                Ocasiones<div class="icon">right</div>
            </a>
            <a href="#" class="container-megamenu__list__link">
                Mujer<div class="icon">right</div>
            </a>
            <a href="#" class="container-megamenu__list__link">
                Hombres<div class="icon">right</div>
            </a>
            <a href="#" class="container-megamenu__list__link">
                Teens<div class="icon">right</div>
            </a>
            <a href="#" class="container-megamenu__list__link">
                Infantil<div class="icon">right</div>
            </a>
        </div>
        <div class="container-megamenu__categories">
            <div class="title">Aficiones</div>
            <div class="categories-grid">
                <div class="categories-grid__item">
                    <div class="categories-grid__item__image"><img src="https://picsum.photos/400/200.jpg" alt=""></div>
                    <a href="#" class="categories-grid__item__title">Adictos al deporte</a>
                    <a href="#" class="categories-grid__item__link">Ropa</a>
                    <a href="#" class="categories-grid__item__link">Accesorios</a>
                    <a href="#" class="categories-grid__item__link">Tecnología</a>
                    <a href="#" class="categories-grid__item__link">Zapatos</a>
                </div>
                <div class="categories-grid__item">
                    <div class="categories-grid__item__image"><img src="https://picsum.photos/400/200.jpg" alt=""></div>
                    <a href="#" class="categories-grid__item__title">Adictos al deporte</a>
                    <a href="#" class="categories-grid__item__link">Ropa</a>
                    <a href="#" class="categories-grid__item__link">Accesorios</a>
                    <a href="#" class="categories-grid__item__link">Tecnología</a>
                    <a href="#" class="categories-grid__item__link">Zapatos</a>
                </div>
                <div class="categories-grid__item">
                    <div class="categories-grid__item__image"><img src="https://picsum.photos/400/200.jpg" alt=""></div>
                    <a href="#" class="categories-grid__item__title">Adictos al deporte</a>
                    <a href="#" class="categories-grid__item__link">Ropa</a>
                    <a href="#" class="categories-grid__item__link">Accesorios</a>
                    <a href="#" class="categories-grid__item__link">Tecnología</a>
                    <a href="#" class="categories-grid__item__link">Zapatos</a>
                </div>
                <div class="categories-grid__item">
                    <div class="categories-grid__item__image"><img src="https://picsum.photos/400/200.jpg" alt=""></div>
                    <a href="#" class="categories-grid__item__title">Adictos al deporte</a>
                    <a href="#" class="categories-grid__item__link">Ropa</a>
                    <a href="#" class="categories-grid__item__link">Accesorios</a>
                    <a href="#" class="categories-grid__item__link">Tecnología</a>
                    <a href="#" class="categories-grid__item__link">Zapatos</a>
                </div>
                <div class="categories-grid__item">
                    <div class="categories-grid__item__image"><img src="https://picsum.photos/400/200.jpg" alt=""></div>
                    <a href="#" class="categories-grid__item__title">Adictos al deporte</a>
                    <a href="#" class="categories-grid__item__link">Ropa</a>
                    <a href="#" class="categories-grid__item__link">Accesorios</a>
                    <a href="#" class="categories-grid__item__link">Tecnología</a>
                    <a href="#" class="categories-grid__item__link">Zapatos</a>
                </div>
                <div class="categories-grid__item">
                    <div class="categories-grid__item__image"><img src="https://picsum.photos/400/200.jpg" alt=""></div>
                    <a href="#" class="categories-grid__item__title">Adictos al deporte</a>
                    <a href="#" class="categories-grid__item__link">Ropa</a>
                    <a href="#" class="categories-grid__item__link">Accesorios</a>
                    <a href="#" class="categories-grid__item__link">Tecnología</a>
                    <a href="#" class="categories-grid__item__link">Zapatos</a>
                </div>
                <div class="categories-grid__item">
                    <div class="categories-grid__item__image"><img src="https://picsum.photos/400/200.jpg" alt=""></div>
                    <a href="#" class="categories-grid__item__title">Adictos al deporte</a>
                    <a href="#" class="categories-grid__item__link">Ropa</a>
                    <a href="#" class="categories-grid__item__link">Accesorios</a>
                    <a href="#" class="categories-grid__item__link">Tecnología</a>
                    <a href="#" class="categories-grid__item__link">Zapatos</a>
                </div>
                <div class="categories-grid__item">
                    <div class="categories-grid__item__image"><img src="https://picsum.photos/400/200.jpg" alt=""></div>
                    <a href="#" class="categories-grid__item__title">Adictos al deporte</a>
                    <a href="#" class="categories-grid__item__link">Ropa</a>
                    <a href="#" class="categories-grid__item__link">Accesorios</a>
                    <a href="#" class="categories-grid__item__link">Tecnología</a>
                    <a href="#" class="categories-grid__item__link">Zapatos</a>
                </div>
            </div>
        </div>
    </div>
</div>