<div class="boxapi-resume">
  <div class="boxapi-resume__title">Resumen de tu orden</div>
  <div class="boxapi-resume__sub">Ítems seleccionados (1)</div>
  <div class="boxapi-resume__list">
    <div class="boxapi-resmume__item">
      <div class="boxapi-resume__item__image">
        <img src="https://cdn.zeplin.io/5f1dc79aa76998375b089e9b/assets/8b4706f0-f06b-410e-8e05-35ca1bfc6e91.svg" alt="">
      </div>
      <div class="boxapi-resume__item__info">
        <div class="boxapi-resume__item__info__name">
          SS/9553/0603 APACHE/CARAMELO LUSTRADO
        </div>
        <div class="boxapi-resume__item__info__price">
          S/. 259.90
        </div>
      </div>
      <div class="boxapi-resume__item__num">
        <div>2</div>
      </div>
    </div>
  </div>
  <div class="boxapi-resume__return">
    <span></span> <a href="/">Volver al carrito</a>
  </div>
  <div class="boxapi-resume__info">
    <div class="boxapi-resume__info__item">
      <div class="boxapi-resume__info__left">Subtotal de productos</div>
      <div class="boxapi-resume__info__right">S/. 259.90</div>
    </div>

    <div class="boxapi-resume__info__item">
      <div class="boxapi-resume__info__left">Descuento</div>
      <div class="boxapi-resume__info__right">S/. 0.00</div>
    </div>
  </div>

  <div class="boxapi-resume__total">
    Total <span>S/. 259.90</span>
  </div>

  <div class="boxapi-resume__action"></div>
</div>