<div class="boxapi-producto-item">
    <div class="boxapi-producto-item__left">
        <img src="/assets/img/bici-product.jpg" alt="">
        <div class="boxapi-producto-item__offer">-20%</div>
    </div>
    <div class="boxapi-producto-item__right">
        <div class="boxapi-producto-item__title">
            Bicicleta Eléctrica E-Flyer
        </div>
        <img src="/assets/img/calificacion.jpeg" alt="">
        <div class="boxapi-producto-item__price">
            <span class="boxapi-producto-item__price-ofert">S/ 60.00 </span> <span class="boxapi-producto-item__price-rebaja"> <strike>S/ 90.00 </strike></span>
        </div>
        <div class="boxapi-producto-item__description">
            Assertively integrate competitive results rather than user-centric data. Rapidiously recaptiualize collaborative methodologies rather than excellent
        </div>
        <div class="boxapi-producto-item__box-disponible">
            <div class="boxapi-producto-item__text-disponible">
                Disponible: <span>22</span>
            </div>
            <div class="boxapi-producto-item__text-vendido">
                Vendidos: <span>10</span>
            </div>
        </div>
        <div class="boxapi-producto-item__skillbar clearfix " >
            <div class="boxapi-producto-item__skillBarra" ></div>
        </div>
        <div class="boxapi-producto-item__contador">
            <div class="boxapi-producto-item__contador-text">
                Apúrate! La oferta termina en
            </div>
            <div class="boxapi-producto-item__contador-clock">
                <span class="boxapi-producto-item__contador-number">01</span>
                <span>:</span>
                <span class="boxapi-producto-item__contador-number">16</span>
                <span>:</span>
                <span class="boxapi-producto-item__contador-number">24</span>
                <span>:</span>
                <span class="boxapi-producto-item__contador-number">59</span>
            </div>
        </div>
    </div>
</div>